@model PostsListViewModel
@{ 
    Layout = "_AdminLayout";
}

@if (TempData["message"] != null)
{
    <div class="alert">@TempData["message"]</div>
}

@foreach (var post in Model.Posts)
{
    <div class="blog-post">
        <h3>@post.Title  <small>- Published : @(post.Published == true ? "Yes" : "No")</small></h3>
        <div class="callout">
                <ul class="menu simple">
                    <li><a asp-action="EditPost" asp-route-id="@post.PostId">Edit</a></li>
                    <li><a asp-action="DeletePost" asp-route-postId="@post.PostId">Delete</a></li>
                    <li>
                        @if (post.Published == true)
                        {
                            <a asp-action="Unpublish" asp-route-postId="@post.PostId">Unpublish</a>
                        }
                        else
                        {
                            <a asp-action="Publish" asp-route-postId="@post.PostId">Publish</a>
                        }
                    </li>
                </ul>
        </div>
    </div>
}